@import url('https://fonts.googleapis.com/css2?family=Inter:wght@400;500;600&display=swap');

@tailwind base;
@tailwind components;
@tailwind utilities;

@layer base {
  :root {
    --background: 0 0% 97%; /* #F7F7F7 */
    --foreground: 210 85% 13%; /* #05233B */

    --card: 0 0% 100%; /* #FFFFFF */
    --card-foreground: 210 85% 13%; /* #05233B */

    --popover: 0 0% 100%;
    --popover-foreground: 210 85% 13%;

    --primary: 215 100% 65%; /* #4F9AFF */
    --primary-foreground: 0 0% 100%;

    --secondary: 0 0% 97%;
    --secondary-foreground: 210 85% 13%;

    --muted: 0 0% 97%;
    --muted-foreground: 228 10% 50%; /* #74788D */

    --accent: 38 100% 57%; /* #FFAA22 */
    --accent-foreground: 210 85% 13%;

    --destructive: 6 78% 57%; /* #E74C3C */
    --destructive-foreground: 0 0% 100%;
    
    --success: 163 95% 33%; /* #05A378 */
    --success-foreground: 0 0% 100%;

    --border: 215 20% 89%; /* #DDE2E7 */
    --input: 215 20% 89%;
    --ring: 215 100% 65%;

    --radius: 0.5rem;

    --sidebar-background: 212 51% 17%; /* #162A40 */
    --sidebar-foreground: 0 0% 100%;
  }
}

@layer base {
  * {
    @apply border-border;
  }

  body {
    @apply bg-background text-foreground;
    font-family: "Inter", system-ui, sans-serif;
  }
}
